.ads-display-image{
    width:300px !important;
    height: 200px !important;
}
.ads-display-scontainer{
    flex-direction: column;
}

.ads-display-container{
    box-shadow: 5px 5px #777777;
    border-radius: 10px !important;    
    flex:1px;
}
.ads-display1-text{
    text-align: center;
    font-size: 15;
    margin-top: 60px;
    color:black;
}
.ads-display1-scrollbar{
    width: 60em; height: 300px;
}