.ads-display-image{
    width:200px !important;
    height: 200px !important;
}
.ads-display-scontainer{
    flex-direction: column;
}
.ads-display-container{
    border-radius: 10px !important;
    border-color: black;    
    flex:1px;
    margin-left: 10px;
}
.ads-display1-text{
    /* text-align: center; */
    font-size: 15px;
    margin-top: 60px;
    color:black;
}
.ads-display1-label-container{
    flex-direction: row;
}
.ads-display1-price{
    /* text-align: center; */
    font-size: 20px;
    margin-top: -8px;
    color:black;
}
.ads-display1-type{
    font-size: 13px;
}
.ads-display1-scrollbar{
    width: 60em; height: 350px;
}